$bg-color : #7B68EE;
$text-primary:#ffffff;
$text-secondary:#f1f1f1;
$text-tertiary:#969593;
$hover-color:#CCCCFF;
$black-color:#000000;

.display-center {
    display: flex;
   justify-content: center;
   text-align: center;
}

.text {
   font-size: 20px; 
}

.text-big {
    font-size: 30px; 
}

.text-v {
    font-size: 25px; 
}
.text-sm {
    font-size: 14px; 
}

.bg-bold {
    background-color: #2F80ED!important;
}

.bg-bland {
    background-color: #56CCF2!important;
}

.bg {
    background: linear-gradient(to right, #2F80ED, #56CCF2)!important;
}

.bg:hover {
    background: linear-gradient(to right, #56CCF2, #2F80ED)!important;
    cursor: pointer!important;
}

.bg-red {
    background-color: #FF0000!important;
}

.bg-red:hover {
    background-color: #F44336!important;
    cursor: pointer!important;
}

