<nav id="sidebar">
    <div class="position-sticky pt-3">
        <div class="px-4 py-3">
            <h3 class="text-white">WorkFlow Pro</h3>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a class="nav-link active" href="/">
                    <i class="fas fa-home me-2"></i>Trang Chủ
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link" href="/group">
                    <i class="fas fa-users me-2"></i>Nhóm
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link" href="/job">
                    <i class="fas fa-tasks me-2"></i>Công Việc
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link" href="/history">
                    <i class="fas fa-history me-2"></i>Lịch sử công việc
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link" href="/configEmail">
                    <i class="fas fa-cog me-2"></i>Cấu hình Email
                </a>
            </li>
        </ul>
    </div>
</nav>